@model GetWild.Models.SmsTesterViewModel


<form id="SmsTester">
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>שליחת הודעה - בדיקה</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Sender, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Sender, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Sender, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Message, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Message, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Message, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Recipient, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Recipient, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Recipient, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="button" id="btn_SmsTester" value="שלח" class="btn btn-default btn-block btn-primary" />
            </div>
        </div>
    </div>
    </form>

    <div id="Resultmsg"></div>

    @*<div>
        @Html.ActionLink("Back to List", "Index")
    </div>*@

    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
@*<script type="text/javascript">
        $(function () {
            // Document.ready -> link up remove event handler
            $("#btn_SmsTester").click(function () {
                var isValid = $('#SmsTester').validate().form();
                if (!isValid) return false;
                $.ajax({
                    type: "POST",
                    url: "/Sms/SendTestMSG",
                    data: $('#SmsTester').serialize(),
                    datatype: "html",
                    success: function(data) {
                        $('#Resultmsg').html(data.Message);
                    }
                });
            });
        });
</script>*@
