@model GetWild.Models.ProfileViewModel
<form id="UserProfile">
    @Html.AntiForgeryToken()
    @*@Html.ValidationSummary("", new { @class = "text-danger" })*@
    <div class="col-md-6">
        <h4></h4>
        <div class="form-group">
            @Html.LabelFor(m => m.Height, new { @class = "col-md-3 control-label" })
            <div class="col-md-9">
                @Html.TextBoxFor(m => m.Height, new { @class = "form-control", @placeholder = "גובה בסנטימטרים" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Weight, new { @class = "col-md-3 control-label" })
            <div class="col-md-9">
                @Html.TextBoxFor(m => m.Weight, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.BMI, new { @class = "col-md-3 control-label" })
            <div class="col-md-9">
                @Html.TextBoxFor(m => m.BMI, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.FatPer, new { @class = "col-md-3 control-label" })
            <div class="col-md-9">
                @Html.TextBoxFor(m => m.FatPer, new { @class = "form-control" })
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="col-md-10">
            <h4>היקפים</h4>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.D_Hands, new { @class = "col-md-3 control-label" })
            <div class="col-md-9">
                @Html.TextBoxFor(m => m.D_Hands, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.D_legs, new { @class = "col-md-3 control-label" })
            <div class="col-md-9">
                @Html.TextBoxFor(m => m.D_legs, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.D_Waist, new { @class = "col-md-3 control-label" })
            <div class="col-md-9">
                @Html.TextBoxFor(m => m.D_Waist, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.D_Thighs, new { @class = "col-md-3 control-label" })
            <div class="col-md-9">
                @Html.TextBoxFor(m => m.D_Thighs, new { @class = "form-control" })
            </div>
        </div>
    </div>
    <hr />
    <div class="form-group">
        <div class="col-md-offset-4 col-md-6">
            <input id="btn_updateprofile" type="button" class="btn btn-primary btn-block" value="עדכן פרופיל" />
        </div>
    </div>
    @Html.HiddenFor(m=> m.Id)
    @Html.HiddenFor(m => m.UserId)
    @Html.HiddenFor(m => m.LastUpdated)
</form>
<script type="text/javascript">
    $(function() {
        // Document.ready -> link up remove event handler
        $("#btn_updateprofile").click(function () {
            var isValid = $('#UserProfile').validate().form();
            if (!isValid) return false;
            $.ajax({
                type: "POST",
                url: "/Account/UpdateProfile",
                data: $('#UserProfile').serialize(),
                datatype: "html",
                success: function (data) {
                    $('#myModal .modal-title').html('ניהול משתמשים');
                    $('#myModal .modal-body').html(data.Message);
                    $('#myModal').modal('show', { backdrop: 'static' });
                }
            });
        });
    });
</script>

